In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [5]:
diabetes_dataset = pd.read_csv('./data/diabetes.csv')
diabetes_dataset.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [6]:
diabetes_dataset.shape

(768, 9)

In [10]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
diabetes_dataset['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [12]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [16]:
X = diabetes_dataset.drop('Outcome', axis=1)
Y = diabetes_dataset['Outcome']

scaler = StandardScaler()
scaled_X = scaler.fit_transform(X)

X_train, X_test, Y_train, Y_test = train_test_split(scaled_X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
classifier = svm.SVC(kernel='linear')
classifier.fit(X_train, Y_train)

train_prediction = classifier.predict(X_train)
print("Train Accuracy", accuracy_score(train_prediction, Y_train))

test_prediction = classifier.predict(X_test)
print("Test Accuracy", accuracy_score(test_prediction, Y_test))

Train Accuracy 0.7866449511400652
Test Accuracy 0.7727272727272727

In [29]:
# Making Predictions
input_data = (1, 0, 48, 20, 0, 24.7, 0.14, 22)
input_data = np.asarray(input_data).reshape(1, -1)

scaled_input = scaler.transform(input_data)

predcition = classifier.predict(scaled_input)
print('Non Diabetic') if predcition==0 else print('Diabetic')

Non Diabetic